@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: rgb(227, 224, 218);
}

body{
    display: flex;
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

body div:first-child{
    position: relative;
}

.name{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 2.5rem;
}

img[src^= "images/"]{
    height: 100vh;
    width: min(100% ,100%);
}

.formBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--main-color);
}

.accountCreation{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.accountCreation p{
    margin: 0;
    margin-left: 25px;
}

.accountCreation p:first-child{
    padding-top: 20px;
    font-size: 4.2rem;
    margin-bottom: 2px;
    font-weight: 500;
}

.accountCreation p:first-child + p{
    font-size: 1.3rem;
    font-weight: 300;
}

.accountCreation + div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    background-color: white;
    box-shadow: 0px 5px 25px rgb(108, 108, 108);
}

label{
    display: block;
    font-size: 1.5rem;
}

input{
    height: 25px;
    width: 270px;
    font-size: 1.3rem;
    border-radius: 4px;
}

li{
    width: 300px;
}

ul{
    margin-top: 50px;
    margin-left: 50px;
    max-width: 700px;
    height: 300px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;    
    gap: 20px;
    padding-left: 0;
    margin-bottom: 50px;
}

.submission{
    margin-left: 50px;
    margin-top: 25px;
}

button{
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    font-family: inherit;
    font-size: 1.3rem;
    border-radius: 8px;
}

button + p{
    font-size: 18px;
}

input:not([type="password"]),
select,
textarea {
    appearance: none;
    outline: none;
    font-family: inherit;
    font-size: 100%;
}

input:required {
    border: 1px solid rgb(57, 57, 57);
  }
  
input:optional {
    border: 1px solid silver;
}

input:valid:focus{
    border: 2px green solid;
}

input:invalid:focus{
    border: 2px red solid;
}

input:focus{
    background-image: linear-gradient(rgb(243, 240, 240),rgb(251, 250, 250));
    box-shadow: 3px 3px 5px rgb(160, 160, 160);
    border: 1px rgb(161, 161, 161) solid;
}









