body{
    display: flex;
    padding: 0;
    margin: 0;
}

body div:first-child{
    position: relative;
}

.name{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 2.5rem;
}

img[src^= "images/"]{
    height: 100vh;
    width: min(80vb ,100%);
}

.formBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: lightgray;
}

.accountCreation{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.accountCreation p{
    margin: 0;
    margin-left: 25px;
}

.accountCreation p:first-child{
    padding-top: 20px;
    font-size: 4.2rem;
    margin-bottom: 2px;
}

.accountCreation p:first-child + p{
    font-size: 1.3rem;
}

.accountCreation + div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    background-color: white;
}

label{
    display: block;
}

ul{
    margin-top: 50px;
    margin-left: 50px;
    max-width: 500px;
    height: 300px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
    margin-bottom: 50px;
}


.submission{
    margin-left: 50px;
    margin-top: 25px;
}







